[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
	branch = master
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule ".cpitt-vim"]
	path = .cpitt-vim
	url = git@github.com:cpitt/cpitt-vim.git
	branch = master
